AWS_PROFILE=<YOUR_AWS_PROFILE_NAME>
AWS_REGION=<YOUR_AWS_REGION>
AWS_ACCOUNT_ID=<YOUR_AWS_ACCOUNT_ID>
AWS_ATHENA_DATABASE=<YOUR_ATHENA_DB_NAME>
AWS_ATHENA_TABLE=<YOUR_ATHENA_TABLE_NAME>
AWS_ATHENA_MINUTE_AGGS_TABLE=minute_aggs
AWS_ATHENA_DAY_AGGS_TABLE=day_aggs
AWS_ATHENA_OUTPUT_BUCKET=<YOUR_ATHENA_RESULT_OUTPUT_NAME>
AWS_ATHENA_OUTPUT_PREFIX=<YOUR_ATHENA_RESULT_OUTPUT_PREFIX>
AWS_ATHENA_QUERY_CHUNK_DAYS=1
AWS_ATHENA_CANDLE_QUERY_CHUNK_DAYS=31
AWS_ATHENA_QUERY_PREFETCH_MIN_WINDOWS=3
AWS_ATHENA_QUERY_PREFETCH_MAX_WINDOWS=6
AWS_ATHENA_QUERY_PREFETCH_WORKERS=4
AWS_ATHENA_QUERY_PREFETCH_WAIT_TARGET_SECONDS=0.5
