AWS_PROFILE=<YOUR_AWS_PROFILE_NAME>
AWS_REGION=<YOUR_AWS_REGION>
AWS_ACCOUNT_ID=<YOUR_AWS_ACCOUNT_ID>
AWS_ATHENA_DATABASE=<YOUR_ATHENA_DB_NAME>
AWS_ATHENA_TABLE=<YOUR_ATHENA_TABLE_NAME>
AWS_ATHENA_OUTPUT_BUCKET=<YOUR_ATHENA_RESULT_OUTPUT_NAME>
AWS_ATHENA_OUTPUT_PREFIX=<YOUR_ATHENA_RESULT_OUTPUT_PREFIX>
AWS_ATHENA_QUERY_CHUNK_DAYS=1
